.inputWrap {
  margin-bottom: 10px;
  display: flex;
  position: relative;
  align-items: center;

  input {
    flex-grow: 1;
  }

  .status {
    position: absolute;
    right: 8px;
    cursor: help;
    font-size: 20px;
    top: 10px;
    color: #ff4800;
  }
}
